@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 60 30% 96.1%;
    --card: 240 5.9% 6.5%;
    --card-foreground: 60 30% 96.1%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 60 30% 96.1%;
    --primary: 45 100% 66%;
    --primary-foreground: 240 10% 3.9%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 60 30% 96.1%;
    --muted: 0 0% 26.7%;
    --muted-foreground: 0 0% 40%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 60 30% 96.1%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 60 30% 96.1%;
    --border: 0 0% 11.8%;
    --input: 0 0% 11.8%;
    --ring: 45 100% 66%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    @apply min-h-screen;
  }
  .clip-primary {
    clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 10px, 100% 100%, 10px 100%, 0 calc(100% - 10px));
  }
  .clip-logo {
    clip-path: polygon(0 0, calc(100% - 8px) 0, 100% 8px, 100% 100%, 8px 100%, 0 calc(100% - 8px));
  }
}
